---
layout: default
title: March Madness 2022
---
<!doctype html>

<div class="main_content">
  <h1>Players</h1>

  <div class="score-wrap">
    {% for post in site.posts %}
    {% if post.layout == "post"%}
    <div class="score-person">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/images/{{ post.logo }}" height="80px" width="80px" />
        <h3><b>{{ post.author }}</b></h3>
        <h4>{{ post.teams[31] }}</h4>
        <h4>
          {% assign sum = 0 %}
          {% for pt in post.points %}
          {% assign sum = sum | plus: pt %}
          {% endfor %}
          Score: {{ sum }}
        </h4>
        <h4>
          {% assign finalScore = true %}
          {% for c in post.correct %}
          {% if c == '' %}
          {% assign finalScore = false %}
          {% endif %}
          {% endfor %}
          {% if finalScore %}
          final
          {% endif %}
        </h4>
    </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>

</div>

<section id="bracket">
  <div class="container">
    <div class="split split-one">
      <div class="round round-one current">
        <div class="round-details">Round 1<br /><span class="date">March 17-18</span></div>
        <ul class="matchup">
          <li class="team team-top">Gonzaga<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Georgia St.<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Boise St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Memphis<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">UConn<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">New Mexico St.<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Arkansas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Vermont<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Alabama<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Notre Dame<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Texas Tech.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Montana St.<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Michigan St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Davidson<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Duke<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">CSU Fullerton<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top">Baylor<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Norfolk St.<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">North Carolina<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Marquette<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Saint Mary's<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Indiana<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">UCLA<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Akron<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Texas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Virginia Tech<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Purdue<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Yale<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Murray St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">San Fransisco<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Kentucky<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">St. Peter's<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->

      <div class="round round-two">
        <div class="round-details">Round 2<br /><span class="date">March 19-20</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Gonzaga<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Memphis<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">New Mexico St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Arkansas<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Notre Dame<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Texas Tech<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Michigan St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Duke<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top correct">Baylor<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">North Carolina<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">St. Mary`s<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">UCLA<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Texas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Purdue<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Murray St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">St. Peter`s<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-three">
        <div class="round-details">Sweet 16<br /><span class="date">March 24-25</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Gonzaga<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Arkansas<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Texas Tech<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Duke<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top correct">North Carolina<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">UCLA<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Purdue<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">St. Peter`s<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-four">
        <div class="round-details">Elite 8<br /><span class="date">March 26-27</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Arkansas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Duke<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">North Carolina<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">St. Peter`s<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->
    </div>

    <div class="champion">
      <div class="semis-l">
        <div class="round-details">semifinals <br /><span class="date">April 2</span></div>
        <ul class="matchup championship">
          <li class="team team-top correct">Duke<span class="vote-count">&nbsp;</span></li>
          <li class="team team-bottom correct">North Carolina<span class="vote-count">&nbsp;</span></li>
        </ul>
      </div>
      <div class="final">
        <i class="fa fa-trophy"></i>
        <div class="round-details">championship <br /><span class="date">April 4</span></div>
        <ul class="matchup championship">
          <li class="team team-top correct">North Carolina<span class="vote-count">&nbsp;</span></li>
          <li class="team team-bottom correct">Kansas<span class="vote-count">&nbsp;</span></li>
        </ul>
        <div class="round-details winner-pick correct">Winner: Kansas</div>
      </div>
      <div class="semis-r">
        <div class="round-details">semifinals <br /><span class="date">April 2</span></div>
        <ul class="matchup championship">
          <li class="team team-top correct">Villanova<span class="vote-count">&nbsp;</span></li>
          <li class="team team-bottom correct">Kansas<span class="vote-count">&nbsp;</span></li>
        </ul>
      </div>
    </div>


    <div class="split split-two">

      <div class="round round-four">
        <div class="round-details">Elite 8<br /><span class="date">March 26-27</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Houston<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Villanova<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Miami<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->

      <div class="round round-three">
        <div class="round-details">Sweet 16<br /><span class="date">March 24-25</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Arizona<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Houston<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Michigan<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Villanova<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Providence<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Iowa St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Miami<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-two">
        <div class="round-details">Round 2<br /><span class="date">March 19-20</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Arizona<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">TCU<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Houston<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Illinois<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Michigan<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Tennessee<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Ohio St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Villanova<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Creighton<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Richmond<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Providence<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Iowa St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Wisconsin<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Miami<span class="score">&nbsp;</span></li>
          <li class="team team-bottom correct">Auburn<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-one current">
        <div class="round-details">Round 1<br /><span class="date">March 17-18</span></div>
        <ul class="matchup">
          <li class="team team-top">Arizona<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Wright St.<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Seton Hall<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">TCU<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Houston<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">UAB<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Illinois<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Chattanooga<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Colorado St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Michigan<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Tennessee<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Longwood<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Ohio St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Loyola Chicago<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Villanova<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Delaware<span class="score">&nbsp;</span></li>
        </ul>

        <ul class="matchup">
          <li class="team team-top">Kansas<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">TX Southern<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">San Diego St.<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Creighton<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Iowa<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Richmond<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Providence<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">South Dakota St.<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">LSU<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Iowa St.<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Wisconsin<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Colgate<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">USC<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Miami<span class="score">&nbsp;</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Auburn<span class="score">&nbsp;</span></li>
          <li class="team team-bottom">Jacksonville St.<span class="score">&nbsp;</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->
    </div>
  </div>
</section>